@import url('./color-codes.css');
[x-cloak] { display: none !important; }
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    overflow: hidden !important;
}
.card form div.form-group.action-group {
    position: absolute;
    right: 16px;
    top: 16px;
    border-width: 2px;
    display: flex;
    gap: 12px;
    align-items: center;
    transition: all .3s ease-out;
}
.card form div.form-group.action-group button.btn-fab {
    background-color: #339DE8;
    color: white;
    height: 3rem;
    width: 5rem;
    border: none;
    transition: all .3s ease-out;
    box-shadow: 
        rgba(50, 50, 93, 0.4) 0px 13px 27px -5px, 
        rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
    
}
.card form div.form-group.action-group button.btn-fab:hover {
    box-shadow: 
        rgba(50, 50, 93, 0.1) 0px 8px 27px -5px, 
        rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
    background-color: #1B6DC4;
}
.card .card-body textarea {
    border: 1px solid #E3E3E3;
    border-radius: 12px;
}
div.form-group div.labels label {
    display: inline-block;
    font-size: .8rem;
    margin-bottom: 2.5px;
    font-family: 'Montserrat';
}
div.form-group div.labels label:first-child {
    margin-right: 12px;
}
div.form-group div.labels label span {
    margin-left: 6px;
}
div.card form label {
    color: #6e6e6e !important;
}

div.modal div.modal-content input,
div.card form input, 
div.card form select  {
    box-sizing: border-box;
    height: 40px;
    font-size: 1rem;
}
div.card form input::placeholder {
    font-size: .875rem;
}

.card form div.form-group.duration {
    position: relative;
}
.card form div.form-group.duration span.text-danger {
    font-size: .75rem;
    position: absolute;
}
.card form div.form-group.duration span.text-danger:first-child {
    left: 16px;
}
.card form div.form-group.duration span.text-danger:last-child {
    right: 16px;
}

form select.custom-select {
    border-radius: 30px;
}

div.custom-dropdown > div.dropdown-content{
    position: absolute;
    padding: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: min-content;
    /* width: max-content; */
    /* overflow-y: scroll; */
    background: white;
    z-index: 99999;
    box-shadow: 1px 2px 26px 0px rgba(41,39,39,0.67);
    -webkit-box-shadow: 1px 2px 26px 0px rgba(41,39,39,0.67);
    -moz-box-shadow: 1px 2px 26px 0px rgba(41,39,39,0.67);
}

div.clients.dropdown {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
}
div.clients.dropdown input {
    padding-right: 34px;
}
div.clients.dropdown i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .15s ease-in-out;
}
div.clients.dropdown i.isOpen {
    transform: translateY(-50%) rotateZ(180deg);
}
div.clients.dropdown div.dropdown-menu {
    width: 100%;  
    border-radius: 10px; 
}
div.clients.dropdown div.dropdown-menu div.clients-list {
    max-height: 300px; 
    overflow-y: auto;
}

div.clients.dropdown div.dropdown-menu div.clients-list button { 
    border: none; 
    border-bottom: 1px solid grey; 
    background: none; 
    text-align: start; 
    width: 100%; 
    font-size: .875rem;
    font-family: 'Montserrat';
    appearance: none; 
    outline: none;
}
form div.form-group div.contact-person {
    height: 40px;
}
form div.form-group div.contact-person div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
}
form div.form-group div.contact-person > div i {
    font-size: 1rem;
    color: #242429;
    position: absolute;
    left: 16px;
}
form div.form-group div.server-field,
form div.form-group div.contact-person,
form .form-group div.custom-datepicker {
    display: flex;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
}

form div.form-group div.server-field > input,
form .form-group div.custom-datepicker > input {
    box-sizing: border-box;
    display: block;
    flex: 1;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    padding: .44rem 1rem;
}
form div.form-group div.server-field > input:first-child,
form div.form-group div.contact-person div:first-child,
form .form-group div.custom-datepicker > input:first-child {
    border-right: 1.4px solid #E3E3E3;
}

form div.form-group input[type=file] {
    position: static;
    opacity: 1;
    border: 1px dashed #E3E3E3;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 16px;
}
div.form-group.search {
    position: relative;
    width: 40%;
    max-width: 300px;

}
div.form-group.search input {
    width: 100%;
    height: 40px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 0 2rem 0 1rem;
    appearance: none;
    outline: none;
    transition: all .2s ease-in;
}
div.form-group.search i {
    transition: all .2s ease-in;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}
div.form-group.search input:focus {
    border: 1px solid #fd7e14;
}
div.form-group.search input:focus + i {
    color: #fd7e14;
}
@media (min-width: 768px) {

    form div.form-group div.client-logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px dashed #E3E3E3;
        border-radius: 16px;
        justify-content: space-between;
    }
    form div.form-group div.client-logo input[type=file] {
        border: none;
    }
}
form div.form-group div.client-logo div button.icon-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #db404f;
    border-radius: 1rem;
    padding: 6px;
    color: white;
}
form div.form-group div.client-logo > div {
    width: 50%;
    min-width: 200px;
    position: relative;
}

div.selected-files {
    display: flex;
    gap: 14px;
    overflow: auto;
    font-size: .75rem;
    font-family: 'Verdana';

/* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.selected-files::-webkit-scrollbar {
    display: none;
}

div.selected-files div.file-info {
    flex-shrink: 0;
    padding: 8px;
    border: 1px dashed #339DE8;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
    border-radius: 12px;
}
div.selected-files div.file-info i {
    font-size: .875rem;
    color: #339DE8;
}
div.selected-files div.file-info span.size {
    font-weight: 600;
}

div.modal-content div.modal-body div.tags {
    max-height: 300px;
    overflow-y: auto;
}
form div.action-group button.tags {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    appearance: none;
    outline: none;
    border-radius: 1rem;
    color: dimgrey;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #ced4da;
    background: none;
    transition: all .15s ease-in;
}

div.modal-content div.modal-body div.form-check label {
    display: flex;
    align-items: center;
}

div.modal-content div.modal-footer {
    display: flex;
    justify-content: space-between;
}

div.modal div.modal-content div.tag-preview {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

div.modal div.modal-content div.color-label {
    /* flex: 1; */
    border-radius: 4px;
    padding: 6px;
}
div.modal div.modal-content div.color-label span {
    background-color: white;
    padding: 4px;
    border-radius: 2px;
    color: rgb(26, 26, 26);
}

div.modal div.modal-content div.form-check label div.color-label {
    flex: 2;
}
div.modal div.modal-content div.tag-preview div.color-label {
    min-width: 200px;
    padding: 8px;
}

div.form-check label.form-check-label span.form-check-sign::before,
div.form-check label.form-check-label span.form-check-sign::after {
    top: 50%;
    transform: translateY(-50%);
}

form div.action-group button.tags i {
    transform: rotate(-90deg);
}

div#jobs-table pre {
    font-family: 'Verdana';
    font-size: .875rem;
    margin: 0;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

div#jobs-table div.filter-tags,
form div.job-tags {
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
div#jobs-table div.filter-tags,
form div.job-tags::-webkit-scrollbar {
    display: none;
}

td div.job-tags {
    overflow-y: auto;
    max-height: 300px;
}

div#jobs-table div.filter-tags,
td div.job-tags,
form div.job-tags {
    display: flex;
    gap: 14px;
    overflow-y: auto;
    flex-wrap: wrap;
}
div#jobs-table div.filter-tags > div,
td div.job-tags > div,
form div.job-tags > div {
    flex-shrink: 0;
    font-family: 'Montserrat';
    border: 2px solid #339DE8;
    font-size: .875rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

td div.job-tags > div {
    padding: 4px 12px;
}
div#jobs-table div.filter-tags > div,
form div.job-tags > div {
    padding: 4px 6px 4px 12px;
    gap: 8px;
    justify-content: space-between;
}

div.card table.persons-list thead tr th,
div.card table.alltime-jobs thead tr th {
    padding: 12px 16px 12px 8px;
    font-size: 18px;
    background-color: #1E1E24;
    color: white;
    z-index: 100;
    position: sticky;
    top: 0;
}
div.card div.card-header {
    display: flex; 
    align-items: center; 
    gap: 12px
}
div.card table.persons-list thead tr th,
div.card table.alltime-jobs thead tr th,
div.card table.alltime-jobs tbody tr td {
    border: 1px solid #E3E3E3;
}
div.card table.alltime-jobs tbody tr:nth-child(even) {
    background-color: #EBEBEB;
}
div.card table.alltime-jobs tbody tr:nth-child(even) td:not(:last-child) {
    border-right: 1px solid #919090;
}
div.card table.alltime-jobs tbody {
    border-bottom: 1px solid #E3E3E3;
}
table td div.job-actions button.icon-button:focus {
    border: none;
}
table.persons-list tr {
    height: 60px;
}

table.persons-list td.last-server-update div,
table.alltime-jobs div.reporter {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}
table.persons-list td.last-server-update div span.last-update-date,
form div.form-group div.contact-person > div.contact-name,
table.alltime-jobs div.reporter span.reporter-name {
    font-family: 'Verdana';
    font-size: .9rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
}
table.persons-list td.last-server-update div span.last-update-exe
form div.form-group div.contact-person > div.contact-phone,
table.alltime-jobs div.reporter span.reporter-phone {
    font-family: 'Montserrat';
    font-size: .875rem;
}
form div.form-group div.contact-person > div.contact-phone {
    letter-spacing: .1rem;
}
div.row > div div.jobs-card table.alltime-jobs{
    transition: all .3s ease-out;
}

div.attachments {
    max-height: 400px;
    overflow-y: auto;
}
div.attachments div.file-info {
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.attachments div.file-info .download,
div.attachments div.file-info .name {
    display: flex;
    gap: 8px;
    align-items: center;
}
div.attachments div.file-info .name {
    font-family: 'Montserrat';
    color: black;
}
div.attachments div.file-info .download {
    font-family: 'Verdana';
}
div.attachments div.file-info i {
    font-size: 1rem;
}

div.attachments div.file-info .download i {
    color: #339DE8;
}
table.alltime-jobs td div.duration {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

div.datetime {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: black;
}

div.datetime span.date {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: .9rem;
}

div.datetime span.time {
    font-family: 'verdana';
    font-size: .8rem;
    opacity: 0.8;
}


html {
    width: 100%;
    height: 100%;
}
body.login {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/blob-scene-haikei.svg');
    display: flex;
    justify-content: center;
    align-items: center;
}

body.login div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    /* margin: 0 auto; */
}
body.login div.content div.illustration {
    height: 60px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
body.login div.content form {
    width: 80%;
    color: white;
}

body.login div.content form div.icon-input {
    position: relative;
    width: 100%;    
}
body.login div.content form div.icon-input.icon {
    position: absolute;
    left: 16px;
    top: 50%;
    width: 16px;
    transform: translateY(-50%);
}

body.login div.content form input {
    padding: 12px 24px 12px 42px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid white;
    outline: none;
    background: transparent;
    color: white;
}

body.login div.content form input::placeholder {
    color: white;
}

body.login div.content form button{
    width: 100%;
    background: white;
    color: black;
    box-shadow: 3px 6px 13px 0px rgba(66,66,66,0.75);
    -webkit-box-shadow: 3px 6px 13px 0px rgba(66,66,66,0.75);
    -moz-box-shadow: 3px 6px 13px 0px rgba(66,66,66,0.75);
}

table td div.job-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div.filters div.filter-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
    position: relative;
}
div.filters div.filter-action input {
    border: none;
    outline: none;
    padding: 0 1rem;
    font-family: 'Montserrat';
    transition: all .3s ease-in-out;
}
div.filters div.filter-action i {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    margin: 0;
}
div.filters div.filter-action i.active {
    transform: translateY(-50%)  rotate(180deg);
}
div.filters div.filter-action.clients button.icon-button {
    border-left: 1px solid grey;
}
div.filters div.filter-action.clients button.icon-button i {
    transform: unset;
}
div.filters div.filter-action input:focus {
    border: 1px solid #2CA8FF;

}
div.filters button.filter-button {
    padding: 10px 22px;
    border: none;
    outline: none;
    background: none;
    flex: 1;
}
div.filters div.filter-action button.icon-button i {
    font-size: 1rem;
    color: rgb(211, 43, 43);
    display: flex;
    align-items: center;
}

div#jobs-table div.filter-tags button.icon-button,
div.attachments a.icon-button,
div.sidebar button.icon-button,
form button.icon-button,
div.filters div.search button.icon-button,
div.modal div.modal-content button.icon-button,
div.card button.round-icon-button,
table td div.job-actions button.icon-button {
    border: none;
    background: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    outline: none;
}

div.row > div div.jobs-card div.card-header div.filters {
    position: absolute; 
    top: 24px;
    right: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    transition: all .3s ease-out;
}
div.row > div div.jobs-card div.card-header div.filters div.search {
    position: relative;
}
div.row > div div.jobs-card div.card-header div.filters div.search > i {
    position: absolute; 
    left: 12px; 
    top: 50%;
    font-size: 1rem;
    transform: translateY(-50%);
}
div.row > div div.jobs-card div.card-header div.filters div.search > input {
    width: 100%;
    padding: 8px 48px 8px 32px;
    border: 1.4px solid #181818;
    border-radius: 30px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
div.row > div div.jobs-card div.card-header div.filters div.search > a.dropdown-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
div.row > div div.jobs-card div.card-header div.filters div.search > a {
    color: rgba(95, 158, 160, 0.877);
}
div.filters div.search span.search-by {
    padding: 4px;
    background-color: cadetblue;
    color: white;
    font-size: 12px;
    border-radius: 16px;

}
div.filters div.search div.dropdown-menu {
    padding: 16px;
}
div.filters div.search .form-check .form-check-label {
    padding-left: 0;
    font-size: .875rem;
}

div.filters div.filter-by label {
    display: flex;
    gap: 8px;
    align-items: start;
    vertical-align: middle;
}
div.filters div.filter-by label button.icon-button {
    font-size: .4rem;
    color: #dc3545;
}

div.card div.card-header button.round-icon-button {
    border: 1px solid black;
    border-radius: 42px;
    padding: 8px;
}

div.card .card-body div.error-message {
    display: flex;
    height: 300px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-family: 'Montserrat';
    font-size: 1rem;
}
div.card .card-body div.error-message img {
    width: 100%;
    height: 80%;
}

div.menu {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;
}
div.menu button {
    opacity: .5;
    outline: none;
    appearance: none;
    border: none;
    background: none;
    padding-left: 0;
    box-sizing: border-box;
    transition: all .15s ease-in;
}
div.menu button.active {
    border-bottom: 2px solid rgb(24, 24, 24);
    opacity: 1;
}

div.page-options button.btn {
    border-radius: 30px;
    background-color: #FA8761;
    color: white;
    position: relative;
}

div.page-options button.btn.show {
    background-color: #5E6973;
}
@media (max-width: 576px) {
    div#jobs-table div.card-header,
    div#jobcard-form div.card-header {
        margin-bottom: 40px;
    }

    div#jobs-table div.card-header,
    div#jobcard-form form div.action-group {
        right: unset;
        justify-content: space-between;
        width: 92%;
    }
    div#jobs-table div.filter-tags,
    div#jobcard-form form div.job-tags {
        padding-top: 12px;
    }
    div#jobcard-form form div.action-group {
        left: 16px;
        top: 74px;
    }

    div#jobs-table div.card-header div.filters {
        left: 12px;
        top: 60px;
        padding: 10px 0;
    }
    div#jobs-table div.card-header div.filters div.search.dropdown {
        flex: 1
    }
    div.form-group {
        margin-bottom: 16px;
    }
    form .form-group div.contact-person {
        height: unset;
    }
    form div.form-group div.contact-person {
        height: unset;
    }
    form div.form-group div.server-field,
    form div.form-group div.contact-person,
    form .form-group div.custom-datepicker {
        flex-direction: column;
        border-radius: 9px;
    }
    form div.form-group div.server-field > input:first-child,
    form div.form-group div.contact-person div:first-child,
    form .form-group div.custom-datepicker > input:first-child {
        border-right: unset;
        border-bottom: 1.4px solid #E3E3E3;
    }

    form div.form-group div.server-field > input,
    form div.form-group div.contact-person div,
    form .form-group div.custom-datepicker > input {
        padding: 1rem;
    }

    div.form-group div.labels label {
        display: block;
        padding: 4px 0;
    }
    .card form .form-group.duration span.text-danger {
        position: static;
    }

}

@media(min-width: 1200px) and (max-width: 1400px) {
    form .form-group div.custom-datepicker > input {
        font-size: .85rem;
    }
}